/* user-blogs */
._games_header-row {
  grid-row-gap: 16px;
  grid-column-gap: 16px;
  -moz-column-gap: 16px;
  column-gap: 16px;
  display: grid;
  grid-template-columns: 1fr auto auto;
  row-gap: 16px;
}
._games_header-row .inner_tabs {
  -moz-column-gap: 16px;
  column-gap: 16px;
  display: flex;
  list-style-type: none;
  margin: 0;
  max-width: 100%;
  overflow: auto;
  padding: 0;
}
._games_header-row .inner_tabs li a {
  display: flex;
  align-items: center;
  background: var(--dark-3-white);
  border-radius: 8px;
  color: var(--gray-3-gray-1);
  font: 500 16px var(--roboto);
  -moz-column-gap: 8px;
  column-gap: 8px;
  cursor: pointer;
  height: 100%;
  justify-content: center;
  line-height: 28px;
  padding: 6px 21px;
}
._games_header-row .inner_tabs li .tab-active {
  color: var(--white);
  background: var(--gray-1-gray-2);
}
._games_header-row .inner_tabs li a:not(.tab-active):hover {
  background: var(--dark-3-hover-light-1);
  color: var(--white);
}
